{% extends 'root.html.twig' %}

{% block content %}
    <h2>Update {{ client.getName }}'s record:</h2>

    <form action='/stylists/{{ stylist.getId }}/clients/{{ client.getId }}' method='post'>
        <input name='_method' type='hidden' value='patch'>

        <label for='client-name'>Rename client:</label>
        <input id='client-name' name='name' type='text'>

        <button type='submit'>Update</button>
    </form>

    <form action='/stylists/{{ stylist.getId }}/clients/{{ client.getId }}' method='post'>
        <input name='_method' type='hidden' value='delete'>

        <button type='submit'>Remove client from database</button>
    </form>

    <p><a href='/'>Home</a></p>
{% endblock %}
